
@font-face {
  font-family: "Roboto-Regular";
  src: local('Roboto-Regular'), url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

html, body{
  background-color: #009ee3;
  margin: 0;
  font-family: 'Roboto-Regular';
}


h1,h2,h3{
  font-size: 2.25rem;
  line-height: 2.75rem;
}

h4,h5{
  font-size: 1rem;
  line-height: 1.5rem;
}

h1,h2,h3,h4,h5, h6{
  margin:5px;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .content{
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.container .content .wrapper-welcome{
  width: 300px;
  height: 230px;
  display: flex;
  color: white;
  text-align: left;
  flex-direction: column;
  justify-content: space-around;
}

.container.content.wrapper-image{
  width: 300px;
}

.btn {
  border: 0;
  padding: 0;
  width: 286px;
  height: 48px;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: none;
  border-radius: 10px;
  background-color: #e63888;
}

.btn:hover {
  border: 2px solid #CC196B;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  overflow: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
  width: 90%;
  margin: auto;
  padding: 20px;
  max-width: 650px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #888;
}

.modal .title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 24px;
  color: rgba(0, 8, 38, 0.8);
}


.modal .form-feedback{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.modal .form-feedback .question, .question-counter{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
}

.modal .form-feedback .question svg {
  width: 15px;
  height: 15px;
  fill: #e63888;
  color: #e63888;
}

.modal .form-feedback .question .question-description {
  margin-left: 10px;
}

.modal .form-feedback .wrapper-stars{
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 16px;
  flex-direction: column;
  color: rgba(0, 8, 38, 0.8);
}

.modal .form-feedback .wrapper-stars .input-name{
  height: 30px;
  width: 300px;
}

.star-widget{
  width: 300px;
  display: none;
}

.star-widget input{
  display: none;
}

.star-widget label{
  font-size: 30px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
  z-index: 99;
  position: relative;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
  color: #fd4;
}

input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 10px #fd4;
}

#rate-1:checked ~ form header:before {
  content: "Eu odiei 😠";
}

#rate-2:checked ~ form header:before {
  content: "Eu não gostei 😒";
}

#rate-3:checked ~ form header:before {
  content: "Ah, é bom! 😄";
}

#rate-4:checked ~ form header:before {
  content: "Eu gostei! 😎";
}

#rate-5:checked ~ form header:before {
  content: "Eu amei! 😍";
}

form{
  display: none;
}

input:checked ~ form{
  display: block;
}

form header{
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
  margin-top: 50px;
}

.modal .btn-modal{
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

.modal .btn-form{
  display: block;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .btn {
  margin-top: 15px;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s
}

@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 }
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
  from{ bottom:-50px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

